<h1>Hi, {{this.user}}, and welcome to your budget dashboard</h1>
<a type="submit" href="/dashboard/new">add new income</a>

{{#each incomes}}
  <div>
    <p>your income is: {{this.total}}</p>
  </div>
{{/each}}


