<form action="/dashboard" method="post">
  <input name="total" placeholder="what's your income for this month?">
  {{!-- <input name="savings" placeholder="your savings"> --}}
  {{!-- <input name="expenses" placeholder="your monthly set expenses (rent+bills)"> --}}
  <button type="submit">+</button>
</form>

