<h1>Welcome to {{title}}</h1>
<h3>The feeling of being free!</h3>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style1.css" />
</head>
<div id="container">
<img src="http://s15.postimage.org/kozhy0eon/pajaro.gif" id="bird" class="bird1">
</div>
<form 
action="/login" method="get">
<button  type="submit" class="button button5"style="text-decoration: none;">Login</button>
</form>

<form 
action="/signup" method="get">
<button  type="submit"class="button button5" style="text-decoration: none;">Sign-up </button>
<!--</form>
<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<p id='head1' class='header'>WELCOME</p>
<p id='head2' class='header'>TO Budgie </p>
<p id='head5' class='header'>Click button to start</p>
<button><a href="/login" style="text-decoration: none;">START</a></button>
  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div-->