<h1>Welcome to {{title}}</h1>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style1.css" />
</head>
<div id="container">
<img src="http://s15.postimage.org/kozhy0eon/pajaro.gif" id="bird" class="bird1">
</div>
<form 
action="/login" method="get">
<button  type="submit" class="btn btn-dark btn-lg btn-block"style="text-decoration: none;">Login</button>
</form>

<form 
action="/signup" method="get">
<button  type="submit" class="btn btn-dark btn-lg btn-block" style="text-decoration: none;">Sign-up </button>
</form>
