<h1>Welcome to {{title}}</h1>
<a href="/login">login</a>
<form action="/login" method="get">
<button  type="submit" style="text-decoration: none;">Login</button></form>
<form action="/signup"> </form><button><a href="/signup" type="submit" style="text-decoration: none;">Sign-up</a></button>
</form>
