h1{
    /* font-family: 'Courgette', cursive; */
    font-family: 'Baloo 2', cursive;
    text-align: center;
}

.statement{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* font-family: 'Red Hat Display', sans-serif; */
    font-family: 'Baloo 2', cursive;
    /* font-family: 'Poiret One', cursive; */
    font-size: 20px;
    font-weight:bolder;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #CCCDE0 ;
    border-style: none;
}

.piechart{
    /* border: 3px solid red; */
    width: 40vw;
}

.expenseInput{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

button{
    border: none;
}

body{
    background-color:#678AD1
}

.border{
    border-style: 0.3px;
    background: transparent;
}