body{
    background-color: rgb(119, 221, 228);
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    overflow:hidden;
    animation: bg-change 5s infinite;
}
#container {
    height: 100%;
    width: 100%;
    animation: bg-chan 5s infinite;
}
.bird1{
    position: relative;
}
#bird{
    left:100%;
    animation:fly 5s infinite;
}
@keyframes bg-change{
    0%{background-color: #2e87cf;}
    25%{background-color: #28cce2;}
    50%{ background-color: rgb(132, 212, 223);}
    75%{background-color:3398db;}
    100%{background-color: #25252b;}
}
@keyframes{
    0%{

    }

}