<<<<<<< HEAD
<head>
    <link rel="stylesheet" href="/stylesheets/login.css" >
</head>
<h2>Budgie Money Tracker</h2>
<div class="container" id="container">
<div class="form-container sign-up-container">
<form action="#">
<h1>Create Account</h1>
<div class="social-container">
<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
</div>
<span>or use your email for registration</span>
<input type="text" placeholder="Name" />
<input type="email" placeholder="Email" />
<input type="password" placeholder="Password" />
<button>Sign Up</button>
</form>
</div>
<div class="form-container sign-in-container">
<form action="#">
<h1>Sign in</h1>
<div class="social-container">
<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
</div>
<span>or use your account</span>
<input type="email" placeholder="Email" />
<input type="password" placeholder="Password" />
<a href="#">Forgot your password?</a>
<button>Log In</button>
</form>
</div>
<div class="overlay-container">
<div class="overlay">
<div class="overlay-panel overlay-left">
<h1>Welcome Back!</h1>
<p>To keep connected with us please login with your personal info</p>
<button class="ghost" id="signIn">Sign In</button>
</div>
<div class="overlay-panel overlay-right">
<h1>Hello, Friend!</h1>
<p>Enter your personal details and start journey with us</p>
<button class="ghost" id="signUp">Sign Up</button>
</div>
</div>
</div>
</div>

<footer>
<script>
  const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
container.classList.remove("right-panel-active");
});
</script>
</footer>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
     <title>Budgie A Money Tracking App</title>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  </head>
  <body>
   <div class="cont">
       <div class="form sign-in">
           <h2>Sign In</h2>
           <label>
               <span>Email Address</span>
               <input type="email" name="email">
           </label>
            <label>
               <span>Password</span>
               <input type="password" name="password">
           </label>
           <button class="submit" type="button">Sign In</button>
           <p class="forgot-pass">Forgot Password ?</p>

           <div class="social-media">
               <ul>
                   <li><img src="images/facebook.png" alt=""></li>
                   <li><img src="images/twitter.png" alt=""></li>
                   <li><img src="images/linkedin.png" alt=""></li>
                   <li><img src="images/instagram.png" alt=""></li>
               </ul>
           </div>
          </div>

            <div class="sub-cont">
                <div class="img">
                    <div class="img-text m-up">
                         <h2>New Here?</h2>
                          <p>Sign up and discover new ways to save!</p>
                        </div>
                      <div class="img-text m-in">
                        <h2>One of us? </h2>
                        <p>If you already have an account, just sign in. We've missed you</p>
                    </div>
                    <div class="img-btn">
                      <span class="m-up">Sign Up</span>
                       <span class="m-in">Sign In</span>
                    </div>
                </div>
                <div class="form sign-up">
                  <h2>Sign Up</h2>
                    <label>
                      <span>Name</span>
                      <input type="text">
                    </label>
                       <label>
                      <span>Email</span>
                      <input type="email">
                    </label>
                       <label>
                      <span>Confirm Password</span>
                      <input type="password">
                    </label>
                       <label>
                      <span>Confirm Password</span>
                      <input type="password">
                    </label>
                    <button type="button" class="submit">Sign Up Now</button>
                </div>
      </div>
    </div>
   <script type="text/javascript" src="script.js"></script>
  </body>
</html>
>>>>>>> 94455fd639cf1c6a125b6a5cec6826990b3cd1d4
